:root{
    font-family: 'Oswald', sans-serif;
    --bg: #000;
    --white: #EFF6EE;
    --accent: #50858B;
    --accent-light: #59959B;
    scroll-behavior: smooth;
}


body{
    background-color: var(--bg);
}
.adult{
    font-size: 1rem;
    line-height: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.para{
    margin: 0;
    padding: 0;
    font-size: .5rem;
    line-height: .5rem;
    color: #000;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

.info h1{
    margin: .5rem;
    padding: 0;
    color: var(--white);
    font-weight: 200;
}

.info h1 span{
    color: var(--accent);
}

button{
    border: none;
    outline: none;
    background: var(--accent);
    color: var(--white);
    font-size: 1.5rem;
    padding: .75rem 1.5rem .75rem 1.5rem;
    border-radius: 1rem;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
}

button:hover{
    background-color: var(--accent-light);
    letter-spacing: 2px;
    transition: all .35s ease-in-out;
}

.adult-swim{
    display: none;
}

.head2{
    display: none;
}

.head3{
    display: none;
}

.head4{
    display: none;
}

@media only screen and (max-width: 768px) {
    .para{
        font-size: .2rem;
        line-height: .2rem;
    }
}